<div class="header">
    <div class="user">
        <img alt="User profile picture" height="40" src="https://storage.googleapis.com/a1aa/image/wDG5C9sCdXLRHpPFzUHJkkeD8ZhLWw9u5D6ea6MEDEchUy4TA.jpg" width="40"/>
        <span class="username" th:text="${fullName}">
        </span>
    </div>
    <div class="icons">
        <a onclick="showPopup(event)">
            <i class="fas fa-edit" >
            </i>
        </a>

    </div>
</div>
<div class="search">
    <input placeholder="Search" oninput="debounceSearchMain(event)" th:value="${oldChat}" type="text"/>
</div>

<div class="contacts" >
    <div class="contracts_wrap" th:each="friend : ${friends}">
        <div class="contact " th:classappend="${friend.getUnreadMessagesCount() > 0 ? 'highlight' : ''}"  th:attr="data-userid2=${friend.getUserId2()}, data-chatId=${friend.getChatId()}, data-usernameId2=${friend.getUsername()}" onclick="loadMessages(this)">
            <img alt="Contact profile picture" height="40" src="https://storage.googleapis.com/a1aa/image/QAKh95Hre928MCQwECa4JOXelifSxGBvudTvdJHqMMxFpkxnA.jpg" width="40"/>
            <div class="info">
                <div class="name" th:text="${friend.getFullName()}">
                </div>
                <div th:if="${friend.getUnreadMessagesCount() > 0}" class="status" th:text="|Bạn đang có ${friend.getUnreadMessagesCount()} tin nhắn chưa đọc|"></div>
                <div th:if="${friend.getUnreadMessagesCount() < 0 }">
                    Active 2m ago
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contacts">
    <div class="contracts_wrap" th:each="group : ${chatGroups}">
        <div class="contact" th:classappend="${group.getUnreadMessagesCount() > 0 ? 'highlight' : ''}" th:attr="data-chatId=${group.getChatId()}" onclick="loadMessages(this)">
            <img alt="Contact profile picture" height="40" src="https://storage.googleapis.com/a1aa/image/QAKh95Hre928MCQwECa4JOXelifSxGBvudTvdJHqMMxFpkxnA.jpg" width="40"/>
            <div class="info">
                <div class="name" th:text="${group.getGroupName()}">
                </div>
                <div th:if="${group.getUnreadMessagesCount() > 0}" class="status" th:text="|Bạn đang có ${group.getUnreadMessagesCount()} tin nhắn chưa đọc|"></div>
                <div th:if="${group.getUnreadMessagesCount() < 0}" class="status">
                    Group chat
                </div>
            </div>
        </div>
    </div>
</div>