<div class="chat">
    <input type="hidden" id="loginId" th:attr="data-loginId=${userIdLogin}">
    <div class="header">
        <img alt="Chat profile picture" height="40" th:src="${chatAvatar != null ? '/static/files/' + chatAvatar : '/static/files/empty_image.png'}" width="40"/>
        <div class="info">
            <div class="name">
                <a style="text-decoration: none; color:black;" th:if="${isGroup}" th:text="${chatName}"></a>
                <a style="text-decoration: none; color:black;" th:if="${!isGroup}" th:text="${chatName}" th:href="@{/user/{userIdReceive}(userIdReceive=${userIdReceive})}"></a>
            </div>
        </div>
            <div class="icons" onclick="toggleDetails()">
                <i class="fas fa-info-circle">
                </i>
            </div>
    </div>

    <div id="messages" class="messages">
        <div class="profile-header">
            <img alt="Profile picture of a person holding a camera" height="80" th:src="${chatAvatar != null ? '/static/files/' + chatAvatar : '/static/files/empty_image.png'}" width="80"/>
            <h2 class="profile-header-name" th:text="${chatName}"></h2>
            <p>
                Social-media
            </p>
            <button th:if="${!isGroup}">
                <a th:href="@{/user/{userIdReceive}(userIdReceive=${userIdReceive})}">View profile</a>
            </button>
        </div>

        <div class="message" th:each="message : ${messageList}" th:classappend="${message.getSenderId() == userIdLogin ? 'sent' : ''}">
            <img class="chat-image" alt="User profile picture" th:if="${message.getSenderId() == userIdLogin ? false : true}" height="40" th:src="${message.getAvatarUrl() != null ? '/static/files/' + message.getAvatarUrl() : '/static/files/empty_image.png'}" width="40"/>
            <div class="chat-content">
                <div class="chat-username" th:if="${isGroup && message.getSenderId() != userIdLogin}">
                    <span th:text="${message.getSenderName()}"></span>
                </div>
                <div class="chat-message">
                    <div class="text" th:text="${message.getMessageText()}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-input" onkeypress="inputMessKeyPress(this)">
        <i class="far fa-smile emoji">
        </i>
        <input id="message-input" placeholder="Message..." type="text" onkeypress="if(event.key === 'Enter') sendMessage()"/>
        <button id="send-btn" onclick="sendMessage()">
            Gửi
        </button>
    </div>
</div>

<div class="chatboxDetail" id="detailsContainer">
    <div class="header">Details</div>
    <div class="group-name">
        <span>Change group name</span>
        <button onclick="showPopup_Details()">Change</button>
    </div>
    <div class="members">
        <div class="members-header">
            <span>Members</span>
            <a th:if="${isGroup}" href="#" onclick="showAddPopup()">Add people</a>
        </div>

        <div class="list-members">
            <div class="member" th:each="member : ${members}">
                <img th:src="${member.getAvatarURL() != null ? '/static/files/' + member.getAvatarURL(): '/static/files/empty_image.png'}" alt="Profile picture"/>
                <div class="member-info">
                    <div class="name" th:text="${member.getFullName()}"></div>
                    <div class="role" th:if="${isGroup}" th:text="${chat.userIdCreated == member.getUserId() ? 'Chủ nhóm' : 'Thành viên'}"></div>
                </div>
                <div class="member-options" th:if="${isGroup}" onclick="toggleRemoveMember(this)">
                    <i class="fas fa-ellipsis-v"></i>
                    <div class="remove-member" th:onclick="|removeMember('${member.getUserId()}')|">Remove</div>
                </div>
            </div>

        </div>

    </div>
    <div class="leave-chat" th:if="${isGroup}" onclick="showWarningPopup('leave')">Leave chat</div>
    <div class="leave-chat-description">
        You won't be able to send or receive messages unless someone adds you back to the chat. No one will be notified that you left the chat.
    </div>
    <div class="delete-chat" th:if="${isGroup}" onclick="showWarningPopup('delete')">Delete chat</div>
</div>

<div class="popup" id="popup">
    <div class="popup-header">Change Group Name</div>
    <div>
        <input type="text" placeholder="Enter new group name" id="newGroupName"/>
    </div>
    <div class="popup-buttons">
        <button class="save-button" onclick="saveGroupName()">Save</button>
        <button class="close-button" onclick="closePopup_Details()">Close</button>
    </div>
</div>

<div class="popup-warning" id="popupWarning">
    <div class="popup-warning-header" id="popupWarningHeader"></div>
    <div class="popup-warning-buttons">
        <button class="confirm-button" onclick="confirmAction()">Confirm</button>
        <button class="cancel-button" onclick="closeWarningPopup()">Cancel</button>
    </div>
</div>

<div class="popup-add" id="popupAdd">
    <div class="popup-add-header">Add People</div>
    <input type="text" placeholder="Enter username" id="newUserName"/>
    <div class="popup-add-buttons">
        <button class="save-button" onclick="addUser()">Add</button>
        <button class="close-button" onclick="closeAddPopup()">Close</button>
    </div>
</div>

