<img alt="Profile picture" onclick="openModalImage()" style="cursor: pointer" id="profilePic" height="150" th:src="${user.getAvatarUrl() != null ? '/static/files/' + user.getAvatarUrl() : '/static/files/empty_image.png'}" width="150"/>
<div class="profile-info">
    <h1 th:text="${user.getFullName()}"></h1>
    <div class="stats">
        <div>
            <span th:text="${postCount}">
            </span>
            posts
        </div>
        <div>
            <span th:text="${user.getNumberOfFriends()}"></span>
            Friends
        </div>
    </div>
    <div class="actions" th:if="${userId != userLogin}">
        <button class="following" th:if="${(statusFriend == null || statusFriend == '') && (existStatus == null || existStatus == '')}" onclick="sendAddFriend()">Add Friend</button>
        <button class="following" th:if="${existStatus == 'pending'}">Pending</button>
        <button class="following" th:if="${statusFriend == 'accepted'}" onclick="sendUnFriend()">Unfriend</button>
        <div style="display: inline-block" th:if="${statusFriend == 'pending'}">
            <button class="following"  onclick="sendAcceptFriend()">Accpet</button>
            <button class="following"  onclick="sendCancelFriend()">Deny</button>
        </div>

        <button onclick="onClickMessageCreate()">
            <a>
                Message
            </a>
        </button>
    </div>
</div>